@use 'lib.scss' as *;

footer {
	background-color: rgba(1, 24, 39, 1);
	height: 566px;
	padding-left: 22px;
	padding-top: 22px;
	/* font */
	font-family: "Roboto";
	color: rgba(255, 255, 255, 1);
	h3{
		font-weight: 700;
		font-size: 18px;
	}
	p {
		font-weight: 400;
		width: 440px;
		font-size: 18px;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			/* font */
			font-size: 18px;
			font-weight: 400;
			font-family: "Roboto";
		}
	}
	@include breakpoint($medium-screen){
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		// height: 470px;
		// max-height: 470px;
		.footer__Info {
			width: 420px;
			margin-right: 50px;
			margin-top: 10%;
		}
		.footer__Info h3,
		.footer__Info p {
			padding: 0;
			margin: 0;
			width: 440px;
		}
	}
}


a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}