@use 'lib.scss' as *;

header {
	background-color: rgba(1, 24, 39, 1);
}

.header__logo-container {
	display: flex;
	height: 144px;
	width: 100%;
    
	.header__logo {
		float: left;
		margin-top: 26px;
		margin-left: 27px;
		/* size */
		width: 128px;
		height: 82px;
	}
	.header__title {
		color: white;
		width: 78px;
		height: 84px;
		top: 25px;
		left: 168px;
		line-height: 28.13px;
		font-size: 1rem;
		margin-left: 10px;
		margin-top: 25px;
		@include breakpoint($medium-screen){
			padding-top: 50px;;
			width: auto;
			font-size: 1.67rem;
		}
	}
    @include breakpoint($medium-screen){
        height: 216px;


        
    }
}

.header__nav{
    display:none;
	.header__nav-link:hover{
		color:rgba(138, 207, 229, 1);
	}

    @include breakpoint($medium-screen){
            display: flex;
            align-items: end;
            color: white;
            justify-content: space-evenly;
            font-size: 1rem;
            margin-bottom: 25px;
            width: 100%;
        
    }
}