@use './sections/lib.scss' as *;
@use './sections/header.scss';
@use './sections/body.scss';
@use './sections/buttons.scss';
@use './sections/footer.scss';
@use './sections/quote.scss';
@use './sections/Scroller.scss';

* {
	box-sizing: border-box;
	max-width: 100%;
}
html {
	font-family: "Roboto", sans-serif;
	font-size: clamp(18px,4vw,24px);
	font-weight: 400;

	@include breakpoint($large-screen){
		display: grid;
		grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
		background-color: rgba(1, 24, 39, 1);
		min-height: 100vh;

	}
}

.mobile__hide{
	display: none;
	@include breakpoint($medium-screen){
	display:block
	}
}

.desktop__hide{
	display: block;
	@include breakpoint($medium-screen){
		display:none
	}
}

.main-image img {
	width: 100%;
}

/* text Styles */
.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-regular-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}
