@use './sections/lib.scss' as *;
@use './sections/header.scss';
@use './sections/body.scss';
@use './sections/buttons.scss';
@use './sections/footer.scss';
@use './sections/quote.scss';
@use './sections/Scroller.scss';

* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
	max-width: 100%;
}
html {
	font-family: "Roboto", sans-serif;
	font-size: clamp(18px,4vw,24px);
	// font-size: 18px;
	font-weight: 400;
	@include breakpoint($medium-screen){
		// font-size: 24px;
		
	}
	@include breakpoint($large-screen){
		display: grid;
		grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
		background-color: rgba(1, 24, 39, 1);
		min-height: 100vh;

	}
}


.mobile__hide{
	display: none;
	@include breakpoint($medium-screen){
	display:block
	}
}

.desktop__hide{
	display: block;
	@include breakpoint($medium-screen){
		display:none
	}
}

/* img
div,
p {
	max-width: 100%;  Ensure elements don't exceed the body width
}
*/

.main-image img {
	width: 100%;
}


/*  */
// .header2 {
// 	margin-top: 40px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	font-size: 1.33rem;
// 	font-weight: 400;
// }

/* parent scroll */



/* 1200px
1280px */


@media screen and (min-width: 1330px) {


	// .containerScroll::-webkit-scrollbar {
	// 	display: none;
	// }
}

/* 400 */
/* text Styles */
.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-regular-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}
